* {
    margin: 0;
    padding: 0;
}

@page {
    padding: 24px;
    size: A4;
    background: white;
}

body {
    font-family: "U001Con";
    font-size: 16px;
    line-height: 1.4;
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.section {
    .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .big-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .content {
        padding-left: 24px;
    }
}

.kv-table {
    tr {
        .key {
            width: 96px;
        }

        .val {
            padding-left: 16px;
        }
    }
}

table {
    border-collapse: collapse;
}

.main {
    flex: 1;
}

.items,
.totals {
    width: 100%;

    thead {
        border-bottom: 1px solid black;

        th {
            font-weight: bold;
            text-align: center;
        }
    }
}

.numeric-cell {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.date-cell {
    text-align: center;
}

.table-heading {
    th {
        text-align: left;
        font-style: italic;
        font-weight: normal;
        border-bottom: 1px solid #efefef;
    }
}

.nil-row {
    td {
        font-style: italic;
        text-align: center;
    }
}

.total {
    text-align: right;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}
